.about {
  .title__container{
    display: block;
    .discription{
      margin: auto;
      width: 70%;
    }
  }
  .education{
    text-align: center;
    width: 50%;
    margin: auto;
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0px;
      align-items: center;
      position: relative;
      
      .fortwopart{
        display: grid;
        grid-template-columns: 3fr, 1fr;
        justify-content: space-between;
        .image{
          // margin-bottom: 20px;
        }
        .sub-logo-sec{
          display: flex;
          flex-direction: column;
          .name_course{
            margin-bottom: 5px;
          }
        }

        .image, .image+div {
          display: flex;
          justify-content: center;
          img {
            height: 10rem;
            width: 15rem;
            object-fit: cover;
          }
        }
        .play {
          position: absolute;
          top: 30%;
          cursor: pointer;
          i {
            @include gradientText;
            font-size: 10rem;
          }
        }
      }
      
      
    }
  }
  
}
